<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Quét các bean trong package -->
	<context:component-scan base-package="storage" />
	<context:property-placeholder
		location="classpath:jdbc.properties" />
	<!-- Kích hoạt annotation-driven -->
	<mvc:annotation-driven />

	<!-- Cấu hình resource handler -->
	<mvc:resources location="/static/"
		mapping="/resources/**" />

	<!-- Cấu hình ViewResolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="1"></property>
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- Cấu hình DataSource -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName"
			value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- Cấu hình Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="storage.model" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>storage/model/mapping/Auth.hbm.xml</value>
				<value>storage/model/mapping/Category.hbm.xml</value>
				<value>storage/model/mapping/History.hbm.xml</value>
				<value>storage/model/mapping/Invoice.hbm.xml</value>
				<value>storage/model/mapping/Menu.hbm.xml</value>
				<value>storage/model/mapping/ProductInfo.hbm.xml</value>
				<value>storage/model/mapping/ProductInStock.hbm.xml</value>
				<value>storage/model/mapping/Role.hbm.xml</value>
				<value>storage/model/mapping/UserRole.hbm.xml</value>
				<value>storage/model/mapping/User.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- Transaction Manager -->
	<tx:annotation-driven
		transaction-manager="transactionManager" />
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Kích hoạt hỗ trợ transaction annotation -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
	<!-- order = 0 thi spring uu tien xu ly truoc -->
	<!-- Khi khong tim thay ket qua no xu ly tiep thang order 1, neu van ko thay kq tra ve file not found -->
	<property name="order" value="0"></property>
	<property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"></property></bean>
	<bean id="tilesConfigure" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
	<property name="definitions">
	<list><value>/WEB-INF/tiles.xml</value></list></property>
	</bean>
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	<property name="basename" value="/message/message"></property></bean>
	<!-- Khai bao bean di qua moi path tru login, /processLogin, /res... -->
<mvc:interceptors>
    <mvc:interceptor>
        <mvc:mapping path="/**/" />
        <mvc:exclude-mapping path="/login" />
        <mvc:exclude-mapping path="/processLogin" />
        <mvc:exclude-mapping path="/resources/**" />
        <bean class="storage.security.FilterSystem" />
    </mvc:interceptor>
</mvc:interceptors>
</beans>
